.BrainhubCarousel__arrows {
    background-color: #5e83ba !important;
}

.carouselItem {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 25em;
    width: 45em;
    background-color: #3a4e7a;
    box-shadow: inset 2px 5px 10px black;
    border-radius: 1em;
}

.carouselItem > img {
    height: 250px;
    width: 550px;
    margin-top: 1em;
    margin-left: 0.25em;
    border-radius: 1em;
    background-color: white;
    padding: 1em;
}

.carouselItem > p {
    /* margin-left: 4em; */
    max-width: 500px;
}