.BrainhubCarousel__arrows {
    background-color: #5e83ba !important;
    display: inline-block;
    border-radius: 2em !important;
}

.carouselItem {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 27em;
    width: 45em;
    background-color: #3a4e7a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    border-radius: 1em;
}

.carouselItem > img {
    height: 250px;
    width: 550px;
    margin-top: 2em;
    margin-left: 0.25em;
    border-radius: 1em;
    background-color: white;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.carouselItem > p {
    max-width: 500px;
}

.fa-arrow-circle-right {
    cursor: pointer;
}

.fa-arrow-circle-right > path {
    fill:#5e83ba;
}

.fa-arrow-circle-left {
    cursor: pointer;
}

.fa-arrow-circle-left > path {
    fill:#5e83ba;
}
