.contactContainer {
    display: flex;
    flex-flow: wrap;
    border-radius: 1em;
    position: relative;
    top: 15vh;
    /* margin-left: 15%; */
    /* margin-right: 10em; */
    margin-bottom: 25em;
    height: 70%;
    width: 100%;
    background-color: #3a4e7a;
    display: flex;
    align-items: flex-start;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

#profile {
    border: 1px solid white;
    border-radius: 1em;
    margin-right: 1em;
    z-index: 99;
    height: 17em;
    width: 17em;
    margin-left: 2em;
    margin-top: 2em;
    background-color: white;
}

.bio {
    position: relative;
    /* max-width: 70%; */
    max-height: 20em;
    overflow: hidden;
    margin-top: 2em;
    color: white;
}

@media only screen and (min-width:1525px) {
    .bio {
        max-width: 70%;
    }
}

@media only screen and (max-width: 1524px) {
    .bio {
        max-width: 50%;
    }
}

@media only screen and (max-width: 925px) {
    .bio {
        margin-left: 8em;
        margin-bottom: 2em;
        max-width: 60%;
    }
    img {
        margin-left: 10em;
    }
    .contactSocial {
        margin-left: 8em;
    }
}

@media only screen and (max-width: 775px) {
    .bio {
        margin-left: 2em;
        margin-bottom: 2em;
        max-width: 80%;
    }
    img {
        margin-left: 5em;
    }
    .contactSocial {
        margin-left: 4em;
    }
}

@media only screen and (max-width: 575px) {
    .bio {
        margin-left: 2em;
        margin-bottom: 2em;
        max-width: 80%;
    }
    img {
        margin-left: 3em;
    }
    .contactSocial {
        margin-left: 2em;
    }
}

.contactSocial {
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative; 
    display: flex;
    margin-top: 0.55em;
    margin-bottom: 0.75em;
    color: white;
}

.contactSocial > p {
    margin-right: 0.5em;
}

.contactSocial > img {
    margin-right: 1em;
}