.navDots {
    background: #5e83ba;
    display: inline-block;
    position: fixed;
    top: 50%;
    height: 22px;
    width: 22px;
    left: 50px;
    border-radius: 2rem;
    /* border: 2px solid #f1f1f0; */
    /* text-indent: -9999px; */
  }
  
  .navDots > a{
    display: inline-block;
    height: 20px;
    width: 20px;
    color: transparent;
  }
  
  .navDots :hover {
    padding-left: 2rem;
    color: white;
  }
  
  @media only screen and (max-width: 1000px) {
    .navDots :hover {
      color: transparent;
    }
  }

  @media only screen and (max-width: 700px) {
    .navDots {
      left: 30px;
      height: 20px;
      width: 20px;
    }
  
    .navDots > a{
      height: 20px;
      width: 20px;
    }
  }
  
  .selected {
    background: rgba(33,88,157,1);
    background: radial-gradient(circle, #f1f1f0 0%, #5e83ba 50%); 
  }