.idk {
    color: black;
    /* box-shadow: 5px 5px black; */
    top: 155px;
    background-color: grey;
    position: relative;
    width: 70%;
    border: 10px solid grey;
    border-left: 0;
    border-right: 0;
    border-radius: 10px;
    left: 15%;
}

.idk > p {
    max-height: 200px;
}

.postBody {
    height: 201px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    background-color: rgb(211, 211, 211);
    background: linear-gradient(to top, #333, grey 25%, #fff 85%, grey 100%);
}
#text {
    max-width: 200px;
}
.postBody * > code {
    max-width: inherit;
}

.shareIcons {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    top: -20px;
    /* padding-bottom: 20px; */
}

.shareIcons > svg {
    position: relative;
    top: -5px;
    padding-left: 10px;
}

.postTitle {
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: 5px;
    padding-left: 5px;
}