.idk {
    color: black;
    list-style-type: none;
    top: 155px;
    position: relative;
    width: 70%;
    left: 15%;
}

.idk > li {
    border: 10px solid rgb(155, 155, 155);
    border-left: 0;
    border-right: 0;
    border-radius: 10px;
    background-color: rgb(156, 156, 156);
    margin: 0 0 30px 0;
    position: relative;
}

.postBody {
    /* margin-bottom: 500px; */
    height: 201px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    background-color: rgb(211, 211, 211);
    background: linear-gradient(to top, #333, grey 25%, #fff 85%);
}
#text {
    max-width: 200px;
}
.postBody * > code {
    max-width: inherit;
}

.shareIcons {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    top: -20px;
    /* padding-bottom: 20px; */
}

.shareIcons > svg {
    position: relative;
    top: -5px;
    padding-left: 10px;
}

.postTitle {
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: 5px;
    padding-left: 5px;
}