/* 4d5366, #66644d, #664d50 */
.idk {
    color: black;
    list-style-type: none;
    top: 155px;
    position: relative;
    width: 70%;
    left: 15%;
}

.idk > li {
    color: white;
    border: 10px solid #222222;
    border-left: 0;
    border-right: 0;
    border-radius: 10px;
    background-color: #222222;
    margin: 0 0 30px 0;
    position: relative;
}

.postBody {
    height: 201px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    color: black;
    background: linear-gradient(to top, #333, white 5%, #66644d 99%);
}

#text {
    max-width: 200px;
}
.postBody * > code {
    max-width: inherit;
}

.shareIcons {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    top: -20px;
    /* padding-bottom: 20px; */
}

.shareIcons > svg {
    position: relative;
    top: -5px;
    padding-left: 10px;
}

.postTitle {
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
    padding-bottom: 5px;
    padding-left: 5px;
}

.postTitle > h2 {
    font-size: 2em;
}