/* Color Palette 
  Taken from: https://colorpalettes.net/color-palette-2326/
  Dark: 091d36,
  Medium-Dark: 3a4e7a,
  Medium: 5e83ba,
  Medium-Light: c2d2e9,
  Light: f1f1f0
*/

* {
  margin: 0;
  padding: 0;
  color: #f1f1f0;
}

body {
  height: 100%;
  background: #091d36;
}

.App {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navDots {
  background: #5e83ba;
  display: inline-block;
  position: fixed;
  height: 20px;
  width: 20px;
  left: 50px;
  border-radius: 2em;
  border: 2px solid #f1f1f0;
  /* text-indent: -9999px; */
}

.navDots > a{
  display: inline-block;
  height: 20px;
  width: 20px;
  color: transparent;
}

@media only screen and (max-width: 575px) {
  .navDots {
    left: 25px;
    height: 15px;
    width: 15px;
  }

  .navDots > a{
    height: 15px;
    width: 15px;
  }
}

.selected {
  background: rgba(33,88,157,1);
  background: radial-gradient(circle, rgba(241, 241, 240, 1) 0%, rgba(33,88,157,1) 50%); 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
