/* Color Palette 
  Taken from: https://colorpalettes.net/color-palette-2326/
  Dark: 05101f,
  Medium-Dark: 3a4e7a,
  Medium: 5e83ba,
  Medium-Light: c2d2e9,
  Light: f1f1f0
*/

* {
  margin: 0;
  padding: 0;
  color: #f1f1f0;
}

body {
  height: 100%;
  background: #05101f;
}

.App {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ReactGridGallery {
  height: 29rem;
  width: 45rem;
  padding: 2rem;
  background-color: #3a4e7a;
}

.sticky_sentinel {
  position: absolute;
  left: 0;
  right: 0; /* needs dimensions */
  visibility: hidden;
}

.sticky_sentinel--top {
  /* Adjust the height and top values based on your on your sticky top position.
  e.g. make the height bigger and adjust the top so observeHeaders()'s
  IntersectionObserver fires as soon as the bottom of the sentinel crosses the
  top of the intersection container. */
  height: 40px;
  top: -24px;
}
