/* Color Palette 
  Taken from: https://colorpalettes.net/color-palette-2326/
  Dark: 05101f,
  Medium-Dark: 3a4e7a,
  Medium: 5e83ba,
  Medium-Light: c2d2e9,
  Light: f1f1f0
*/

* {
  margin: 0;
  padding: 0;
  color: #f1f1f0;
}

body {
  height: 100%;
  background: #05101f;
}

.App {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .App {
    width: 85%;
    margin-left: 7.5%;
  }
}

@media only screen and (max-width: 500px) {
  .App {
    width: 95%;
    margin: 2.5%;
  }
}
